@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(elevation/mdc.elevation.min.css);
@import url(layout-grid/mdc.layout-grid.min.css);
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 360px;
  background: rgba(0, 0, 0, 0.2); }

.full-header {
  background-image: linear-gradient(white, transparent 35%), linear-gradient(180deg, transparent 35%, black), url("https://lh3.googleusercontent.com/35gyFIGkDlMnmKfgM95tDb8A7zk_Cod_hluzpCjsyhPRzdvLuWO8ChQpOU11zBgFdmg1rKTQRSiJ-ZniiM1yaM8j_mfJeTx8-Lru7cOFoPIkzfUmd5gDIPK_ODaY9JxT8vMEjrKszSJQouYpHFrZu1CdhoBWE5KRUS3o1lw-CqEs3USwB90Gs6icEOvqjzKPSvfnrPARgdIbenFBz90mWlSN3qnBdq1nqdA8B6L1JovDYhStoW7CFyrhk9mu84pk5Qh1GBw9jqh8V8QFMOiQo0-tgiwWJONUoVHiLlfgKQtljlFZE2O_El--YTtyNWi9j1h-kfN_ACsEGkRci_PxqMKGa0_Q_QmMFty1q8PeSX0BDjQfPjyfBq8G6pRP33oGza_wV-3QZlkuA24k2KIVUGHlf_f5SoSmW7pWWCErYhZQ_nM7vfFFnT0e4K6PiqsQXrmEzM7BTBRUsTj3WQ1VNzRYYYSlgucnHYccafMWiIjDRKRYj4FL_n6bvd13pJuJP8f3LyHyx_5LrUjWZtDOGd_Nqm0ibsbQj2jltYVL2QI0yC22YXzG67jbh_ye49bc0wtlqLF56xTQ69DDbIjxdNnNC00m6LGCglWHSv5LKXLrFmJ0h_VgsEbRYcAhYRrHaaGH3g4ddYeihQc6yvLH9gTzc4exH2SzdotsPRmmkaU=w1213-h909-no");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }

.navbar {
  background-color: white;
  z-index: 5;
  width: 100%;
  max-width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-left: 0;
  margin-right: 0; }

.navbar-large {
  justify-content: center; }

.navbar-column {
  flex-flow: column; }

.navbar a {
  text-transform: uppercase;
  text-align: center;
  color: #bbb;
  font-size: 16px;
  line-height: 64px;
  text-decoration: none;
  display: block;
  margin-right: 24px;
  margin-left: 24px;
  font-family: "Montserrat", sans-serif; }

.navbar-large a {
  flex-grow: 1;
  padding: 21px 0;
  margin-right: 0;
  margin-left: 0; }

.navbar-large > a, .navbar-large .dropdown > a {
  display: inline-block;
  border-bottom: 5px solid transparent; }

.navbar-large .dropdown {
  flex-grow: 1;
  position: relative; }

.navbar-large > a:hover, .navbar-large .dropdown:hover > a {
  border-bottom: 5px solid orange; }

.navbar-column a {
  margin: 24px 0;
  width: 100%; }

.navbar a:hover {
  color: #888 !important; }

.navbar .navbar-current {
  color: black !important;
  font-weight: bold; }

.navbar .navbar-title {
  font-size: 24px;
  padding-right: 96px;
  color: black;
  fkex-grow: 1; }
  .navbar .navbar-title:hover {
    border-color: transparent;
    color: black !important; }

.navbar-links {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-grow: 1; }

.navbar-column .navbar-title {
  padding: 0; }

.navbar-fancy a {
  line-height: 1.6em;
  min-height: 1.6em;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-bottom: 2px solid transparent; }

.dropdown-content a {
  line-height: 64px;
  min-height: 64px; }

.navbar-fancy a:hover {
  border-bottom: 2px solid #888; }

.dropdown {
  display: inline-block; }

.dropdown-content {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 10; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover > a {
  color: #888 !important; }

.dropdown-content a {
  color: #bbb;
  display: block;
  text-align: left !important; }

.dropdown-content a:hover {
  color: #888 !important; }

.navbar-large .dropdown-content {
  width: 100%;
  padding: 0; }

.navbar-large .dropdown:hover .dropdown-content {
  display: block; }

.navbar-large .dropdown > a {
  width: 100%; }

.navbar-large .dropdown-content a {
  display: block;
  border-bottom: 2px solid #eaeaea;
  text-align: center !important; }

.navbar-large .dropdown-content a:hover {
  border-bottom: 2px solid #eaeaea;
  background-color: #eaeaea; }

.button {
  padding: 13px 26px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: black;
  display: inline-block;
  text-decoration: none;
  margin: 8px;
  background-color: white;
  border-radius: 2px;
  letter-spacing: 3px; }
  .button:hover {
    background-color: black;
    color: white; }

.button:hover,
.button:focus {
  color: white;
  animation-name: fillColorNormal;
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  text-decoration: none; }

.button-rounded {
  border-radius: 26px; }

.button-ghost {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: black; }

.button-ghost:hover,
.button-ghost:focus {
  color: white;
  animation-name: fillColorGhost;
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  text-decoration: none; }

@keyframes fillColorGhost {
  from {
    background-color: transparent; }
  to {
    background-color: black; } }
@keyframes fillColorNormal {
  from {
    background-color: white; }
  to {
    background-color: black; } }
footer {
  background-color: white;
  padding: 16px; }

footer p {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.6); }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  display: table; }

.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit; }

.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

.table th {
  padding: 6px;
  border: 2px solid white;
  text-align: center;
  background: black;
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase; }

.table td {
  padding: 6px;
  border: 2px solid white;
  text-align: center;
  color: black;
  font-size: 12px; }

.table tbody tr:nth-child(odd) {
  background-color: #ccc; }

.table tbody tr:nth-child(even) {
  background-color: #eee; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.border-bottom {
  border-bottom: 1px solid rgba(86, 86, 86, 0.15); }

a {
  color: #00a3ff;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #005280; }

.circle {
  border-radius: 100%; }

.shadow-text {
  text-shadow: 0 0 6px rgba(56, 57, 61, 0.4), 0 1px 3px rgba(0, 0, 0, 0.47); }

/*# sourceMappingURL=main.css.map */
