$button-font-size: 12px !default;
$button-padding-top-bottom: 13px !default;
$button-padding-left-right: 26px !default;
$button-margin: 8px !default;
$button-font-color: black !default;
$button-background-color: white !default;
$button-hover-font-color: white !default;
$button-hover-background-color: black !default;
$button-ghost-hover-font-color: white !default;
.button {
    padding: $button-padding-top-bottom $button-padding-left-right;
    font-size: $button-font-size;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $button-font-color;
    display: inline-block;
    text-decoration: none;
    margin: $button-margin;
    background-color: $button-background-color;
    border-radius: 2px;
    letter-spacing: 3px;
    &:hover {
        background-color: $button-hover-background-color;
        color: $button-hover-font-color;
    }
}

.button:hover,
.button:focus {
    color: $button-hover-font-color;
    animation-name: fillColorNormal;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    text-decoration: none;
}

.button-rounded {
    border-radius: $button-padding-left-right;
}

.button-ghost {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: $button-font-color;
}

.button-ghost:hover,
.button-ghost:focus {
    color: $button-ghost-hover-font-color;
    animation-name: fillColorGhost;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    text-decoration: none;
}

@keyframes fillColorGhost {
    from {
        background-color: transparent;
    }
    to {
        background-color: $button-font-color;
    }
}

@keyframes fillColorNormal {
    from {
        background-color: $button-background-color;
    }
    to {
        background-color: $button-hover-background-color;
    }
}
