$footer-background-color: white !default;
$footer-padding: 16px !default;
$footer-font-size: 12px !default;
$footer-font-color: rgba(0, 0, 0, 0.6) !default;
$footer-font-stack: $font-stack !default;
footer {
    background-color: $footer-background-color;
    padding: $footer-padding;
}

footer p {
    font-size: $footer-font-size;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $footer-font-stack;
    color: $footer-font-color;
}
