$full-header-image-url: "https://lh3.googleusercontent.com/35gyFIGkDlMnmKfgM95tDb8A7zk_Cod_hluzpCjsyhPRzdvLuWO8ChQpOU11zBgFdmg1rKTQRSiJ-ZniiM1yaM8j_mfJeTx8-Lru7cOFoPIkzfUmd5gDIPK_ODaY9JxT8vMEjrKszSJQouYpHFrZu1CdhoBWE5KRUS3o1lw-CqEs3USwB90Gs6icEOvqjzKPSvfnrPARgdIbenFBz90mWlSN3qnBdq1nqdA8B6L1JovDYhStoW7CFyrhk9mu84pk5Qh1GBw9jqh8V8QFMOiQo0-tgiwWJONUoVHiLlfgKQtljlFZE2O_El--YTtyNWi9j1h-kfN_ACsEGkRci_PxqMKGa0_Q_QmMFty1q8PeSX0BDjQfPjyfBq8G6pRP33oGza_wV-3QZlkuA24k2KIVUGHlf_f5SoSmW7pWWCErYhZQ_nM7vfFFnT0e4K6PiqsQXrmEzM7BTBRUsTj3WQ1VNzRYYYSlgucnHYccafMWiIjDRKRYj4FL_n6bvd13pJuJP8f3LyHyx_5LrUjWZtDOGd_Nqm0ibsbQj2jltYVL2QI0yC22YXzG67jbh_ye49bc0wtlqLF56xTQ69DDbIjxdNnNC00m6LGCglWHSv5LKXLrFmJ0h_VgsEbRYcAhYRrHaaGH3g4ddYeihQc6yvLH9gTzc4exH2SzdotsPRmmkaU=w1213-h909-no" !default;
$full-header-top-color: white !default;
$full-header-bottom-color: black !default;
$full-header-top-height: 35% !default;
$full-header-bottom-height: 35% !default;
$full-header-background-position: center !default;
$full-header-height: 100vh !default;
$full-header-width: 100% !default;
.full-header {
    background-image: linear-gradient($full-header-top-color, transparent $full-header-top-height), linear-gradient(180deg, transparent $full-header-bottom-height, $full-header-bottom-color), url($full-header-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    height: $full-header-height;
    background-position: $full-header-background-position;
    position: absolute;
    top: 0;
    left: 0;
    width: $full-header-width;
    z-index: -1;
}
