$full-header-image-url: "https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg";
$full-header-top-color: white;
$full-header-bottom-color: black;
$full-header-top-height: 35%;
$full-header-bottom-height: 35%;
$full-header-background-position: center;
$full-header-height: 100vh;
$full-header-width: 100%;
.full-header {
    background-image: linear-gradient($full-header-top-color, transparent $full-header-top-height), linear-gradient(180deg, transparent $full-header-bottom-height, $full-header-bottom-color), url($full-header-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    height: $full-header-height;
    background-position: $full-header-background-position;
    position: absolute;
    top: 0;
    left: 0;
    width: $full-header-width;
    z-index: -1;
}
