$hero-height: 360px !default;
$hero-width: 100% !default;
$hero-background: rgba(0, 0, 0, 0.2) !default;
$hero-flow-direction: row wrap !default;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: $hero-flow-direction;
    width: $hero-width;
    height: $hero-height;
    background: $hero-background;
}