$navbar-width: 100% !default;
$navbar-min-height: 64px !default;
$navbar-font-size: 16px !default;
$navbar-font-color: #bbb !default;
$navbar-font-color-hover: #888 !default;
$navbar-font-color-current: black !default;
$navbar-fancy-font-size: 12px !default;
$navbar-fancy-border-color: #888 !default;
$navbar-fancy-line-height: 1.6em !default;
$navbar-font-stack: $font-stack !default;
$navbar-fancy-font-stack: $font-stack !default;
$navbar-background-color: transparent !default;
$navbar-content-location: space-between !default;
$navbar-link-margin: 24px !default;
$navbar-direction: row wrap !default;
$navbar-title-font-size: 24px !default;
$navbar-title-font-color: black !default;
$navbar-link-location: flex-end !default;
.navbar {
    background-color: $navbar-background-color;
    z-index: 1;
    width: $navbar-width;
    min-height: $navbar-min-height;
    display: flex;
    align-items: center;
    justify-content: $navbar-content-location;
    flex-flow: $navbar-direction;
}

.navbar-column {
    flex-flow: column;
}

.navbar a {
    text-transform: uppercase;
    text-align: center;
    color: $navbar-font-color;
    font-size: $navbar-font-size;
    line-height: $navbar-min-height;
    text-decoration: none;
    display: block;
    margin-right: $navbar-link-margin;
    margin-left: $navbar-link-margin;
    font-family: $navbar-font-stack;
}

.navbar-column a {
    margin-top: $navbar-link-margin;
    margin-bottom: $navbar-link-margin;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.navbar a:hover {
    color: $navbar-font-color-hover !important;
}

.navbar .navbar-current {
    color: $navbar-font-color-current !important;
    font-weight: bold;
}

.navbar .navbar-title {
    font-size: $navbar-title-font-size;
    padding-right: 4 * $navbar-link-margin;
    color: $navbar-title-font-color;
    fkex-grow: 1;
    &:hover {
        border-color: transparent;
        color: $navbar-title-font-color !important;
    }
}

.navbar-links {
    display: flex;
    align-content: center;
    justify-content: $navbar-link-location;
    flex-grow: 1;
}

.navbar-column .navbar-title {
    padding: 0;
}

.navbar-fancy a {
    line-height: $navbar-fancy-line-height;
    min-height: $navbar-fancy-line-height;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    font-family: $navbar-fancy-font-stack;
    font-size: $navbar-fancy-font-size;
    border-bottom: 2px solid transparent;
}

.navbar-fancy a:hover {
    border-bottom: 2px solid $navbar-fancy-border-color;
}
