$bottom-border-size: 1px !default;
$bottom-border-color: rgba(86, 86, 86, 0.15) !default;
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-stack: 'Montserrat',
sans-serif !default;
@import "hero";
@import "full-header";
@import "navbar";
@import "buttons";
@import "footer";
@import "tables";
@import url(elevation/mdc.elevation.min.css);
@import url(layout-grid/mdc.layout-grid.min.css);
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.border-bottom {
    border-bottom: $bottom-border-size solid $bottom-border-color;
}

a {
    color: #00a3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #005280;
}

.circle {
    border-radius: 100%;
}

.shadow-text {
  text-shadow: 0 0 6px rgba(56,57,61,.4), 0 1px 3px rgba(0,0,0,.47);
}
